@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-coffee-primary: #C67C2E;
  --color-coffee-dark: #2C1A12;
  --color-coffee-accent: #E88D35;
  --color-green-whatsapp: #25D366;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}
